.background{
    background-color: #2d99ca  !important;
    left: 0;
    position: fixed;
    right: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fffcff;
}

p{
    color: #fffcff; 
}

.background .MuiButton-containedPrimary{
    background-color: white;
    color: black !important;
    margin-top: 15px;
}

.logo-container{
    margin: 0 auto; 
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.img-fluid-logo{
    height: 100%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.signin-container{
    margin-top: 10% !important;
}

.background-gray{
    background-color: #404040;
}

.border-gray {
    border: #404040 solid 2px;
    background-color: white;
}

.signin-button:hover {
    background-color: #2d99ca !important;
}

.signup-button:hover {
    background-color: #404040 !important;
    color: white !important;
}
.signup-button{
    background-color: #ffffff !important; 
}